html{
	min-width: 320px;
}

.menu-line{
	display: none !important;
	cursor: pointer;
}

.nav{
	padding: 8px 0px 0px 8px;
}

/* big-tablet */
@media (max-width: 960px){
	.menu-item-1{
		float: left;
		width: 30%;
		text-align: left;
	}
	.menu-line{
		display: none !important;
	}
	.menu-item-2{
		float: left;
		width: 40%;
		text-align: center;
	}
	.menu-item-3{
		float: left;
		width: 30%;
	}

	.main>section{
		height: 200px;
	}

	.insparationBoxes>section{
		height: 200px;
	}
}

/* tablet */
@media (max-width: 768px){
	.menu-item-1{
		display: none !important;
	}
	.menu-line{
		display: inline-block !important;
		float: left;
		width: 10%;
	}
	.menu-item-2{
		float: left;
		width: 90%;
		text-align: left;
	}
	.menu-item-3{
		float: left;
		width: 100%;
	}

	.main>section{
		width: 100%;
		height: 200px;
	}

	.insparationBoxes>section{
		width: 100%;
		height: 200px;
	}

	.main-category{
		float: left;
	    position: absolute;
	    top: 31;
	    left: -2000px;
	    width: 70%;
	    background-color: #fff;
    	height: 100%;
    	padding-left: 5%;
    	padding-top: 5%;
	}

	.category>li{
		display: block;
		text-align: left;
	}

	.list-of-sub{
		position: initial;
		width: 100%;
	}

	.list-of-sub>li{
		display: block;
	}
}

/* mobile */
@media (max-width: 600px){
	.menu-item-1{
		display: none !important;
	}
	.menu-line{
		display: inline-block !important;
		float: left;
		width: 10%;
	}
	.menu-item-2{
		float: left;
		width: 90%;
		text-align: left;
	}
	.menu-item-3{
		float: left;
		width: 100%;
	}

	.main>section{
		width: 100%;
		height: 200px;
	}

	.insparationBoxes>section{
		width: 100%;
		height: 200px;
	}

	.main-category{
		float: left;
	    position: absolute;
	    top: 31;
	    left: -2000px;
	    width: 70%;
	    background-color: #fff;
    	height: 100%;
    	padding-left: 5%;
    	padding-top: 5%;
	}

	.category>li{
		display: block;
		text-align: left;
	}

	.list-of-sub{
		position: initial;
		width: 100%;
	}

	.list-of-sub>li{
		display: block;
	}
}