    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background: url(../img/12_col.gif) center top repeat-y;
        background-size: 90%;
        background-color: rgb(238, 235, 234);
    }
    
    .menu {
        width: 100%;
        padding: 0;
    }
    
    .menu li {
        list-style-type: none;
        display: inline-block;
        width: 33%;
    }
    
    .menu-item-1 {
        text-align: left;
    }
    
    .menu-item-2 {
        text-align: center;
    }
    
    .menu-item-3 {
        text-align: right;
        font-size: 30px;
    }
    
    .category {
        width: 100%;
        padding-left: 0px;
        text-align: center;
    }
    
    .category li {
        list-style-type: none;
        display: inline-block;
        font-size: 20px;
        margin-right: 20px;
        font-weight: bolder;
    }
    
    .category li a {
        text-decoration: none;
        color: black;
    }
    
    .insparationBox1,
    .insparationBox2,
    .insparationBox3,
    .newsBox,
    .footer1,
    .footer2,
    .footer3,
    .footer4 {
        border: 1px solid #EE8070;
        padding: 10px;
    }
    
    .header {
        grid-area: header;
        margin-bottom: 30px;
    }
    
    .main-category {
        grid-area: main-category;
    }
    
    .header-flex {
        display: flex;
        justify-content: start;
        align-items: stretch;
    }
    
    .header>section {
        margin-right: 10px;
    }
    
    .logo {
        font-size: 40px;
        align-self: center;
        color: #c74a37;
        text-align: center;
        flex-grow: 1;
    }
    
    .header-flex>.basket {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 30px;
    }
    
    .form-control {
        padding: 10px;
        width: 60%;
        border-radius: 10px;
        border: 1px solid #ddd;
        outline: none;
    }
    
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border: 1px solid #EE8070;
        border-radius: 2px;
    }
    
    .header-flex>.about,
    .contact {
        margin-left: 0;
        margin-top: 10px;
        font-style: italic;
    }
    
    a {
        color: grey;
    }
    
    a::placeholder {
        color: black;
    }
    
    .infoBox>p {
        font-style: italic;
        color: rgba(100, 98, 98, 0.904);
    }
    
    .main {
        grid-area: content;
        display: grid;
    }
    
    .text-block {
        position: absolute;
        bottom: 10%;
        right: 30%;
        background-color: rgba(255, 255, 255, 0.877);
        color: #8f4f45;
        padding: 10px;
        text-align: center;
    }
    
    .searchInfoBoxes {
        grid-template-rows: [searchBox] 30% [infoBox] 70%[end];
        grid-area: searchInfoBoxes;
        display: grid;
        gap: 2%;
        text-align: center;
    }
    
    .infoBox {
        margin: 20px;
    }
    
    .insparationBoxes {
        /* grid-template-columns: [insparationBox1] 100% [insparationBox2] auto [insparationBox3] auto [insparationBox4] auto [end]; */
        grid-area: insparationBoxes;
        display: grid;
        gap: 2%;
    }
    
    .insparation-flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: stretch;
        flex-grow: 1;
    }
    
    .insparationBoxes>section {
        height: 150px;
    }
    
    .insparationText {
        width: 100%;
        height: 15px;
    }
    
    .insparation-content-flex {
        flex: 1 1 auto;
    }
    
    .newsBoxes {
        grid-template-columns: [newsBox] 50% [subscribeBox] 50% [end];
        grid-area: newsBoxes;
        display: grid;
        gap: 2%;
    }
    
    .subscribeBox-flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-right: 20px;
        gap: 2%;
    }
    
    .inputBox {
        flex-grow: 2;
        width: 100%;
    }
    
    .footer {
        grid-template-columns: repeat(4, 1fr);
        grid-area: footer;
        display: grid;
        gap: 2%;
        padding: 0.5%;
        height: 200px;
    }
    
    .container {
        width: 89%;
        margin: 20px auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "header header header header " "searchInfoBoxes searchInfoBoxes searchInfoBoxes searchInfoBoxes" "main-category main-category main-category main-category" "content content content content" "insparationBoxes insparationBoxes insparationBoxes insparationBoxes" "newsBoxes newsBoxes newsBoxes newsBoxes" "footer footer footer footer";
        gap: 2%;
    }
    
    .content-container-flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: stretch;
        flex-grow: 1;
    }
    
    .main>section {
        position: relative;
        width: 400px;
        height: 300px;
        margin: 10px;
    }
    
    .content-flex {
        flex: 1 1 auto;
    }
    
    #footer {
        margin-top: 20px;
        background-color: #ddd;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid #aaa;
    }
    /* Breda desktopskärmar */
    
    @media screen and (max-width: 960px) {
        .boxes {
            grid-template-columns: [box1] 23% [box2] auto [box3] 23% [end];
        }
        .container {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            grid-template-areas: "header header header " "boxes boxes boxes" "content content sidebar " "footer footer footer";
        }
    }
    /* Tablets såsom Ipad */
    
    @media screen and (max-width: 768px) {
        .boxes {
            grid-template-columns: repeat(3, 1fr);
        }
        .container {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            grid-template-areas: "header header " "boxes boxes " "content sidebar " "footer footer";
        }
        .footer {
            grid-template-columns: repeat(2, 1fr);
            height: 210px;
        }
    }
    /* Mobiltelefoner */
    
    @media screen and (max-width: 600px) {
        .boxes {
            grid-template-columns: repeat(1, 1fr);
        }
        .container {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto;
            grid-template-areas: "header " "boxes " "content" " sidebar " "footer";
        }
        .footer {
            grid-template-columns: repeat(1, 1fr);
            height: 440px;
        }
    }